In [ ]:
import pandas as pd

In [ ]:
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.preprocessing import StandardScaler

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, r2_score, mean_absolute_error
from sklearn.model_selection import train_test_split

In [ ]:
df =  pd.read_excel('full_grouped_filtro.xlsx')

In [ ]:
df.head(6)

,Unnamed: 0,Date,mês,dia,ano,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,6,2020-01-22,1,22.0,2020,Argentina,0,0,0,0,0,0,0,Americas
1,35,2020-01-22,1,22.0,2020,Chile,0,0,0,0,0,0,0,Americas
2,51,2020-01-22,1,22.0,2020,Ecuador,0,0,0,0,0,0,0,Americas
3,111,2020-01-22,1,22.0,2020,Mexico,0,0,0,0,0,0,0,Americas
4,157,2020-01-22,1,22.0,2020,Spain,0,0,0,0,0,0,0,Europe
5,193,2020-01-23,1,23.0,2020,Argentina,0,0,0,0,0,0,0,Americas

In [ ]:
df = df.replace("Argentina", "1")
df = df.replace("Chile", "2")
df = df.replace("Ecuador", "3")
df = df.replace("Mexico", "4")
df = df.replace("Spain", "5")
df = df.replace("Americas", "1")
df = df.replace("Europe", "2")
df.head()

,Unnamed: 0,Date,mês,dia,ano,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,6,2020-01-22,1,22.0,2020,1,0,0,0,0,0,0,0,1
1,35,2020-01-22,1,22.0,2020,2,0,0,0,0,0,0,0,1
2,51,2020-01-22,1,22.0,2020,3,0,0,0,0,0,0,0,1
3,111,2020-01-22,1,22.0,2020,4,0,0,0,0,0,0,0,1
4,157,2020-01-22,1,22.0,2020,5,0,0,0,0,0,0,0,2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      940 non-null    int64
 1   Date            940 non-null    datetime64[ns]
 2   mês             940 non-null    int64
 3   dia             940 non-null    float64
 4   ano             940 non-null    int64
 5   Country/Region  940 non-null    object
 6   Confirmed       940 non-null    int64
 7   Deaths          940 non-null    int64
 8   Recovered       940 non-null    int64
 9   Active          940 non-null    int64
 10  New cases       940 non-null    int64
 11  New deaths      940 non-null    int64
 12  New recovered   940 non-null    int64
 13  WHO Region      940 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(10), object(2)
memory usage: 102.9+ KB

In [ ]:
'''df.Date = df.Date.astype('category')
df.Date = df.Date.cat.codes'''

"df.Date = df.Date.astype('category')\ndf.Date = df.Date.cat.codes"

In [ ]:
df.head()

,Unnamed: 0,Date,mês,dia,ano,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,6,2020-01-22,1,22.0,2020,1,0,0,0,0,0,0,0,1
1,35,2020-01-22,1,22.0,2020,2,0,0,0,0,0,0,0,1
2,51,2020-01-22,1,22.0,2020,3,0,0,0,0,0,0,0,1
3,111,2020-01-22,1,22.0,2020,4,0,0,0,0,0,0,0,1
4,157,2020-01-22,1,22.0,2020,5,0,0,0,0,0,0,0,2

In [ ]:
X = df.drop(['New deaths','Date'], axis=1)
y = df['New deaths']
X_std = StandardScaler().fit_transform(X)

# Separar o dado em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=10)

# Modelo
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred = lr.predict(X_test)

# Coeficiente de determinacao
print(r2_score(y_test, y_pred))

# Erro medio absoluto
print(mean_absolute_error(y_test, y_pred))

0.4974294634720312
69.72921864871412